@using (Html.BeginForm((string)ViewBag.ReturnAction, "Home", FormMethod.Post))
{

    <tbody>
        <tr>
            <td> <input type="" id="ForDate" class="form-control input-lg " name="check_in" placeholder="Check in"></td></tr>
          <tr>  <td><input type="date" id="ForDate" class="form-control  input-lg" name="check_out" placeholder="Check out"></td></tr>
       
          <tr>  <td> <input type="submit" value="Search" class="btn btn-default  input-lg" /></td>
        </tr>
    </tbody>

}