<style>
    #emblem {
        position: fixed;
        left: 0px;
        top: 15px;
        -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
        filter: drop-shadow(5px 5px 5px #222);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    }
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            @Html.ActionLink("Home", "Index", "Apartments", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Masters<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Apartments/Create">Add Apartments</a></li>
                        <li><a href="~/Apartments/BlockApartments">Block Apartments</a></li>
                       
                    </ul>
                </li>

           
            
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bookings<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Reports/Form1RptRq">Booking Details</a></li>
                        <li><a href="~/BookingDetails/Index">Approvals</a></li>
                    </ul>
                </li>

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
