

<div class="navbar-inverse  navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Quick Trips", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
               

                <li>
                    <a href="~/Carts/Index">Cart</a>
                   
                </li>

                <li>
                    <a href="~/Apartments/index">Admin</a>
                </li>
                <li>
                    <a href="~/Home/BookedCustomer">Booking<span class="caret"></span></a>

                </li>
                
             

                    </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
