@{
    ViewBag.Title = "Contact Us.";
}
<header class="masthead text-center text-white text-lg-center">
    <center>
        <div class="container">

            <h2>@ViewBag.Title.</h2>

            <address>
                Working Hours<br />
                10am to 5pm<br />
            </address>

            <address>
                <strong>write to us:</strong>   <a href="mailto:reservations@goaquicktrips.com">reservations@goaquicktrips.com</a><br />
                <abbr title="Phone">P: 7775829654</abbr><br />
                <abbr title="Phone">P: 7083238994</abbr>
            </address>
        </div>
    </center>
</header>