@model Customer
@{
 
}
<style>
 
</style>
<header class="masthead text-center text-white text-lg-center">
    <center>
        <div class="container">

            <h2 class="bg-success">Your Query has been succesfully sent we will contact you shortly....</h2>

      
        </div>
    </center>

</header>